.banner-product {
    background-image: url('../../../Img/banner-product-ínurance.jpeg'); /* Đặt đường dẫn đến hình nền của bạn */
  background-size: cover; /* Chọn kiểu kích thước hình nền */
  background-position: center; /* Căn chỉnh vị trí hình nền */
}
.banner-online {
  background-image: url('../../../Img/Banner-online.png'); /* Đặt đường dẫn đến hình nền của bạn */
  background-size: cover; /* Chọn kiểu kích thước hình nền */
  background-position: center; /* Căn chỉnh vị trí hình nền */
}
.banner-tuvan {
  background-image: url('../../../Img/banner-tu-van.png'); /* Đặt đường dẫn đến hình nền của bạn */
  background-size: cover; /* Chọn kiểu kích thước hình nền */
  background-position: center; /* Căn chỉnh vị trí hình nền */
}
@media (max-width: 575.98px) {
  .banner-product,.banner-tuvan {
    height: 250px; /* Đặt chiều cao cho màn hình nhỏ hơn */
  }
  .banner-online {
    height: 250px;
  }
  
}
@media (min-width: 576px) {
  .banner-product,.banner-tuvan {
    height: 500px; /* Đặt chiều cao cho màn hình lớn hơn */
  }
  .banner-online {
    height: 500px;
  }
}
.m-420 {
  margin: 0 420px !important;
}
.bg-page-2 {
  background-image: url('../../../Img/bg_page2.jpg'); /* Đặt đường dẫn đến hình nền của bạn */
  background-size: cover; /* Chọn kiểu kích thước hình nền */
  background-position: center; /* Căn chỉnh vị trí hình nền */
}
.dkThamgiaDes {
  background-color: #02904a;
  color: #fff;
  padding: 45px;
  min-height: 445px
}