html {
    font-family: 'Roboto', sans-serif;
    background-image: url(https://www.cathaylife.com.vn/cathay/img/background/bg_page2.jpg);
}

.container {
    margin: 0 auto;
    padding: 20px;
}

.payment-tabs {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 90%;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    overflow: hidden;
}

.payment-tab-item {
    cursor: pointer;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #01773D;
    font-weight: 600;
    border: none;
    flex-grow: 1;
    height: 100px;
    text-align: center;
    line-height: 130px;
    transition: background-color 0.3s, color 0.3s;
    width: calc(100% / 6);
    max-width: calc(100% / 6);
    white-space: nowrap;
    position: relative;
}

.fa-solid {
    position: absolute;
    font-size: 35px;
    left: 41%;
    top: 20%;
}

.content-tab {
    padding: 0;
    margin: 0 auto;
    width: 90%;
}

.content-tab h1,
#payment-tab5 h1,
#payment-tab6 h1 {
    text-align: center;
}

.content-tab .payment-tab-content .imgpt1 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -75px;
}

.pmt1 {
    margin-top: 150px;
}

.payment-tab-item:first-child {
    background-color: #fafafa;
    color: #01773D;
}


.payment-tab-item:hover,
.payment-tab-item.active {
    background-color: #ffffff;
    color: #01773D;
}

.payment-tab-content {
    position: relative;

}

.hidden {
    display: none;
}


.payment2 {
    display: flex;
}

.payment2-content {
    width: 100%;
    display: flex;
    align-content: center;
}

.payment2-content h2 {
    position: absolute;
    margin-top: 4%;
}

/* .payment2-image {
    width: 10%;
    height: 10%;
} */

.imgpt2 {
    width: 20%;
    height: 55%;
    padding: 7%;
}

.payment2-text {
    width: 85%;

}

.payment-tab-content .payment2-text {
    background-color: #01773D;
    color: #ffffff;
    padding: 55px;
    margin: 0;
    border-radius: 0 25px 25px 0;
}

.payment-tab-content .payment2-text p {
    margin-top: 100px;
}

.payment3 {
    width: 90%;
    margin: 0 auto;
}

.payment3 h1 {
    text-align: center;
}

.listbanks {
    display: flex;
    justify-content: space-evenly;
    /* Chia đều các thẻ bank */
}

.banks {
    width: 30%;
    padding: 10px;
    position: relative;
    background-color: #ebf9f0;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s;
}

.listbanks a {
    text-decoration: none;
    color: black;
}

.banks:hover {
    transform: translateY(-5px);
    /* Nổi lên 5px khi hover */
}

.banks img {
    max-width: 100px;
    min-height: 54px;
    /* Giới hạn kích thước hình ảnh */
    height: auto;
}

#payment-tab5 a,
#payment-tab6 a {
    text-decoration: none;
    color: #71bf44;
}

#payment-tab5 p,
#payment-tab6 p {
    text-align: center;
}

#payment-tab4 {
    width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

.row-content {
    width: 50%;
}

.address {
    background-color: #FAFAFA;
    padding: 20px;
}

select {
    width: 70%;
    padding: 1%;
    border-radius: 8px;
}

.bgr-servicepay {
    margin-top: 100px;
    padding: 120px 0;
    background-color: #FAFAFA;
}

.service-pay {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.attention,
.imgsvp {
    width: 50%;
    padding: 2%;
}

.service-pay h4 {
    font-size: 40px;
}

.attention li {
    /* list-style: url(); */
    list-style-image: url(https://www.cathaylife.com.vn/cathay/img/check.svg);
}

.attention ul li p {
    font-size: 16px;
    margin-left: 5px;
    line-height: 1.4;
}